/* you can add any styles you think could improve user's experience */
#productsCont {
    text-align: center;
}

#getTotal {
    background-color: #2a9c2adb;
    color: #FFF;
    width: 10em;
    height: 3em;
}

#getTotal p {
    margin: 0;
    padding: 1em 2em;
}

.products {
    display: inline-flex;
}

.productBox {
    margin: 1em;
    outline: 1px solid gray;
}

.addCart {
    background-color: #6f186f;
    color: #FFF;
    padding: .8em;
    border-radius: 15px;
}